.roadmap-container {
    display: grid;
    grid-template-columns: 1fr 0fr 1fr;
    column-gap: 20px;
    position: relative;

}

.roadmap-container::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    background-color: #ffffff;
    height: 85%;
    z-index: -1;
}

.roadmap-item {
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    margin-bottom: 4em;
    margin-left: 2em;
    margin-right: 2em;
}


.roadmap-item.complete::after {
    content: 'complete';
    color: white;
    background-color: #D70375;
    padding: 2px 5px;
    font-size: 14px;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    right: -10px;
}

.roadmap-title {
    font-size: 24px;
    color: #D70375;
    font-weight: 800;
    margin-bottom: 15px;
}

.roadmap-description {
    font-size: 12pt;
    color: #333;
    font-weight: 500;
}


.top-content {
    padding-top: 5em;
}

.end-item {
    position: relative;
    transform: translateX(-60%);
    top: 1em;
}

.contet-star img {
    position: relative !important;
    z-index: 99 !important;
}


.content-star img:nth-child(1) {
    margin-top: -1em;
}

.content-star img:nth-child(2),
.content-star img:nth-child(3) {
    margin-top: 5em;
}

.content-star img:nth-child(4),
.content-star img:nth-child(5),
.content-star img:nth-child(6) {
    margin-top: 4em;
}

.content-star img:nth-child(7) {
    margin-top: 2em;
}

.content-star img:nth-child(8),
.content-star img:nth-child(9) {
    margin-top: 3em;
}

.content-star img:nth-child(10) {
    margin-top: 4em;
}

.content-star img:nth-child(11) {
    margin-top: 6.2em;
}



@media screen and (max-width: 767px) {
    .top-content {
        padding-top: 0em;
    }

}




@media only screen and (min-device-width: 1280px) and (max-device-width: 1280px) and (min-device-height: 720px) and (max-device-height: 720px) {

    .content-info-tam {
        width: 90%;
        margin: 0 auto;
    }

    .content-star img:nth-child(1) {
        margin-top: -1em;
    }

    .content-star img:nth-child(2),
    .content-star img:nth-child(3) {
        margin-top: 5em;
    }

    .content-star img:nth-child(4),
    .content-star img:nth-child(5),
    .content-star img:nth-child(6) {
        margin-top: 4em;
    }

    .content-star img:nth-child(7) {
        margin-top: 2em;
    }

    .content-star img:nth-child(8),
    .content-star img:nth-child(9) {
        margin-top: 3em;
    }

    .content-star img:nth-child(10) {
        margin-top: 4em;
    }

    .content-star img:nth-child(11) {
        margin-top: 8em;
    }




}


@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (min-device-height: 768px) and (max-device-height: 768px) {
    .content-info-tam {
        width: 80%;
        margin: 0 auto;
    }

    .content-star img:nth-child(1) {
        margin-top: -1em;
    }

    .content-star img:nth-child(2),
    .content-star img:nth-child(3) {
        margin-top: 5em;
    }

    .content-star img:nth-child(4),
    .content-star img:nth-child(5),
    .content-star img:nth-child(6) {
        margin-top: 5em;
    }

    .content-star img:nth-child(7) {
        margin-top: 2em;
    }

    .content-star img:nth-child(8),
    .content-star img:nth-child(9) {
        margin-top: 4em;
    }

    .content-star img:nth-child(10) {
        margin-top: 5em;
    }

    .content-star img:nth-child(11) {
        margin-top: 4em;
    }



}


@media only screen and (min-device-width: 1440px) and (max-device-width: 1440px) and (min-device-height: 900px) and (max-device-height: 900px) {
    .content-info-tam {
        width: 75%;
        margin: 0 auto;
    }

    .content-star img:nth-child(1) {
        margin-top: -1em;
    }

    .content-star img:nth-child(2),
    .content-star img:nth-child(3) {
        margin-top: 5em;
    }

    .content-star img:nth-child(4),
    .content-star img:nth-child(5),
    .content-star img:nth-child(6) {
        margin-top: 5em;
    }

    .content-star img:nth-child(7) {
        margin-top: 2em;
    }

    .content-star img:nth-child(8),
    .content-star img:nth-child(9) {
        margin-top: 4em;
    }

    .content-star img:nth-child(10) {
        margin-top: 5em;
    }

    .content-star img:nth-child(11) {
        margin-top: 5.5em;
    }

}




@media only screen and (min-device-width: 1600px) and (max-device-width: 1600px) and (min-device-height: 900px) and (max-device-height: 900px) {
    .content-star img:nth-child(1) {
        margin-top: -1em;
    }

    .content-star img:nth-child(2),
    .content-star img:nth-child(3) {
        margin-top: 5em;
    }

    .content-star img:nth-child(4),
    .content-star img:nth-child(5),
    .content-star img:nth-child(6) {
        margin-top: 5em;
    }

    .content-star img:nth-child(7) {
        margin-top: 2em;
    }

    .content-star img:nth-child(8),
    .content-star img:nth-child(9) {
        margin-top: 4em;
    }

    .content-star img:nth-child(10) {
        margin-top: 5em;
    }

    .content-star img:nth-child(11) {
        margin-top: 3em;
    }
}


@media (max-width: 768px) {
    .roadmap-container {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 20px;
        position: relative;
    }

    .roadmap-container::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 5px;
        background-color: #ffffff;
        height: 95%;
        z-index: -1;

        top: 1em;
    }

    .end-item {
        position: relative;
        transform: translateX(-60%);
        top: 1em;
    }

    .end-item {
        position: relative;
        transform: translateX(0%);
        top: 1em;
    }

    .content-x-telegram {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
        margin-top: 0em;
    }

    .content-x-telegram .content-text p {
        color: #FFF;
        font-size: 14pt;
        font-weight: bold;
        text-align: center;
    }

    .roadmap-item.complete::after {
        content: 'complete';
        color: white;
        background-color: #D70375;
        padding: 2px 5px;
        font-size: 14px;
        border-radius: 5px;
        position: absolute;
        top: -10px;
        right: -10px;
    }

}