.org-contents {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 70vh;
  justify-items: center;
  margin-top: 2em;
}

.org-contents p {
  color: #FFF;
  font-weight: bold;
  font-size: 18pt;
}

.neonText {
  color: white;
  font-size: 50pt;
  font-weight: bold;
  width: 600px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  margin-top: 1.8em;

  text-shadow:
    -6px -6px 0 #D70375,
    0px -6px 0 #D70375,
    6px -6px 0 #D70375,
    -6px 4px 0 #D70375,
    -6px 6px 0 #D70375,
    6px 6px 0 #D70375,
    /* Very thick border using text-shadow */
    5px 5px 6px rgba(0, 0, 0, 0.5);
  /* Text shadow for depth */

}


.neonText span {
  color: #2FF3D8;

}


.tokens-distribution-content {
  background: #FB016C;
  border: 5px solid #2FF3D8;
  border-radius: 3em;
  padding: 4em;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.5);
  color: #FFF;
}


.tokens-distribution-content .neonText {
  color: white;
  font-size: 50pt;
  font-weight: bold;
  width: 480px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  margin-top: 0em;

  text-shadow:
    -6px -6px 0 #D70375,
    6px -6px 0 #D70375,
    -6px 6px 0 #D70375,
    6px 6px 0 #D70375,
    /* Very thick border using text-shadow */
    5px 5px 6px rgba(0, 0, 0, 0.623);
  /* Text shadow for depth */

}


.tokens-distribution-content {
  display: flex;
  align-items: center;
}

.tokens-distribution-content p {
  font-size: 18pt;
  font-weight: 700;
}

.tokens-distribution-content button {
  font-size: 18pt;
  font-weight: 700;
}





.line {
  position: relative;
  width: 2px;
  height: 330px;
  background-color: #ffffff;
  margin: 0 auto;
}

.line:before,
.line:after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
}

.line:before {
  top: -10px;
}

.line:after {
  bottom: -10px;
}




.distribution p:hover {
  color: #ececec;
  transition: all 0.5s;
  cursor: pointer;
}


.roadmap {
  margin-top: 3em;
}

.roadmap .text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5em;
  margin-top: 6em;
}

.roadmap .text img {
  width: 5em;
}

.roadmap .text h1 {


  color: #2FF3D8;
  font-size: 65pt;
  width: 600px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-align: center;


  text-shadow:
    -6px -6px 0 #D70375,
    6px -6px 0 #D70375,
    -6px 6px 0 #D70375,
    6px 6px 0 #D70375,
    /* Very thick border using text-shadow */
    5px 5px 6px rgba(0, 0, 0, 0.5);
  /* Text shadow for depth */
}


.content-x-telegram {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 5em;
  margin-top: 10em;
}

.content-x-telegram .content-text,
.content-xtl {
  padding: 1em;
  border-radius: 3em;
  border: 4px solid #2FF3D8;
  background-color: #FB016C;

  display: flex;
  justify-content: center;
  align-items: center;



}

.content-xtl img {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.content-x-telegram .content-text p {

  color: #FFF;
  font-size: 20pt;
  font-weight: bold;

}


.text-img {
  margin-top: 6.5em;
}


.XStar-1 {
  position: absolute;
  left: -10em;
}

.XStar-2 {
  position: absolute;
  right: -14em;
  margin-top: -25em;
}

.XStar-3 {
  position: absolute;
  left: -15em;
  margin-top: -24.3em;
  z-index: -1;
}

body {
  overflow-x: hidden !important;
}

.content-xtl img:hover {
  transform: scale(1.2);
  /* Sem 'px', apenas um número */
  transition: transform 0.5s ease;
  /* Adiciona uma transição suave */
}

.button-buy-mrd {
  width: 25%;
  margin: 0 auto;
  background-color: #40CFC9;
  padding: 1em 1em;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 28pt;
  font-weight: bold;
  margin-top: 3em;
  position: relative;
  /* Garantir que o posicionamento da sombra fique relativo ao botão */
  animation: spinBorder 2s linear infinite;
  /* Aplica a animação */
}


.button-buy-mrd:hover {
  transform: scale(1.04);
  transition: all 0.5s ease-in-out;

}




@media only screen and (min-device-width: 1280px) and (max-device-width: 1280px) and (min-device-height: 720px) and (max-device-height: 720px) {


  .logo-p1 {
    width: 23em;
  }

  .neonText {

    font-size: 40pt;

    width: 600px;

    margin-top: 1em;

  }

  .tokens-distribution-content {
    background: #FB016C;
    border: 5px solid #2FF3D8;
    border-radius: 3em;
    padding: 2em;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.5);
    color: #FFF;
  }

  .tokens-distribution-content .neonText {

    font-size: 39pt;

    width: 400px;

    margin-top: 0em;

  }

  .tokens-distribution-content p {
    font-size: 13pt;
    font-weight: 700;
  }

  .line:before,
  .line:after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
  }

  .line {

    height: 270px;

  }


  .XStar-1 {
    position: absolute;
    left: -10em;
    width: 25%;
  }

  .XStar-2 {
    position: absolute;
    right: -14em;
    margin-top: -25em;
    width: 25%;
  }

  .XStar-3 {
    position: absolute;
    left: -10em;
    margin-top: -10.3em;
    z-index: -1;
    width: 25%;
  }
}


@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (min-device-height: 768px) and (max-device-height: 768px) {
  .tokens-distribution-content {
    background: #FB016C;
    border: 5px solid #2FF3D8;
    border-radius: 3em;
    padding: 2em;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.5);
    color: #FFF;
  }

  .tokens-distribution-content .neonText {

    font-size: 39pt;

    width: 400px;

    margin-top: 0em;

  }

  .tokens-distribution-content p {
    font-size: 13pt;
    font-weight: 700;
  }

  .line:before,
  .line:after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
  }

  .line {

    height: 270px;

  }

  .XStar-1 {
    position: absolute;
    left: -10em;
    width: 25%;
  }

  .XStar-2 {
    position: absolute;
    right: -14em;
    margin-top: -25em;
    width: 25%;
  }

  .XStar-3 {
    position: absolute;
    left: -10em;
    margin-top: -10.3em;
    z-index: -1;
    width: 25%;
  }
}


@media only screen and (min-device-width: 1440px) and (max-device-width: 1440px) and (min-device-height: 900px) and (max-device-height: 900px) {
  .tokens-distribution-content {
    background: #FB016C;
    border: 5px solid #2FF3D8;
    border-radius: 3em;
    padding: 2em;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.5);
    color: #FFF;
  }

  .tokens-distribution-content .neonText {

    font-size: 39pt;
    width: 400px;
    margin-top: 0em;

  }

  .tokens-distribution-content p {
    font-size: 14pt;
    font-weight: 700;
  }

  .line:before,
  .line:after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
  }

  .line {

    height: 270px;

  }

  .XStar-1 {
    position: absolute;
    left: -10em;
    width: 25%;
  }

  .XStar-2 {
    position: absolute;
    right: -14em;
    margin-top: -25em;
    width: 25%;
  }

  .XStar-3 {
    position: absolute;
    left: -10em;
    margin-top: -10.3em;
    z-index: -1;
    width: 25%;
  }
}


@media only screen and (min-device-width: 1600px) and (max-device-width: 1600px) and (min-device-height: 900px) and (max-device-height: 900px) {
  .tokens-distribution-content {
    background: #FB016C;
    border: 5px solid #2FF3D8;
    border-radius: 3em;
    padding: 2em;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.5);
    color: #FFF;
  }

  .tokens-distribution-content .neonText {

    font-size: 39pt;
    width: 400px;
    margin-top: 0em;

  }

  .tokens-distribution-content p {
    font-size: 16pt;
    font-weight: 700;
  }

  .line:before,
  .line:after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
  }

  .line {

    height: 270px;

  }
}


@media (max-width: 768px) {
  .neonText {
    color: white;
    text-align: center;
    font-size: 26pt;
    font-weight: bold;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    margin-top: 0em;
    text-shadow: -6px -6px 0 #D70375, 0px -6px 0 #D70375, 6px -6px 0 #D70375, -6px 4px 0 #D70375, -6px 6px 0 #D70375, 6px 6px 0 #D70375, 5px 5px 6px rgba(0, 0, 0, 0.5);
  }

  .org-contents p {
    color: #FFF;
    font-weight: bold;
    font-size: 15pt;
    text-align: center;
  }

  .logo-p1 {
    width: 17em;
  }

  .content-info-tam {
    width: 91%;
    margin: 0 auto;
  }



  .tokens-distribution-content {
    display: grid;
    align-items: center;
    justify-content: center;
  }

  .tokens-distribution-content .neonText {
    color: white;
    font-size: 26pt;
    font-weight: bold;
    width: 480px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    margin-top: 0em;
    text-shadow: -6px -6px 0 #D70375, 6px -6px 0 #D70375, -6px 6px 0 #D70375, 6px 6px 0 #D70375, 5px 5px 6px rgba(0, 0, 0, 0.623);
  }

  .line {

    display: none;
  }

  .tokens-distribution-content .neonText {
    color: white;
    font-size: 26pt;
    font-weight: bold;
    width: 260px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    margin-top: 0em;
    text-shadow: -6px -6px 0 #D70375, 6px -6px 0 #D70375, -6px 6px 0 #D70375, 6px 6px 0 #D70375, 5px 5px 6px rgba(0, 0, 0, 0.623);
  }

  .tokens-distribution-content p {
    font-size: 13pt;
    font-weight: 700;
  }

  .buy-button-2 {
    background-color: #40CFC9;
    padding: 5px 20px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 14em;
    margin-bottom: 1em;
  }

  .roadmap .text h1 {
    color: #2FF3D8;
    font-size: 29pt;
    width: 600px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    text-align: center;
    text-shadow: -6px -6px 0 #D70375, 6px -6px 0 #D70375, -6px 6px 0 #D70375, 6px 6px 0 #D70375, 5px 5px 6px rgba(0, 0, 0, 0.5);
  }

  .roadmap .text img {
    width: 2em;

  }

  .roadmap .text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5em;
    margin-top: 6em;
    width: 88%;
    margin: 0 auto;
  }

  .content-star {
    display: none;
  }


  .text-img {
    margin-top: 1.5em;
    width: 22em;
  }

  .button-buy-mrd {
    width: 81%;
    margin: 0 auto;
    background-color: #40CFC9;
    padding: 1em 1em;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 16pt;
    font-weight: bold;
    margin-top: 3em;
    position: relative;
    animation: spinBorder 2s linear infinite;
  }



  .XStar-1 {
    position: absolute;
    left: -10em;
    width: 17em;
    display: none;
  }


  .XStar-2 {
    position: absolute !important;
    right: 1em !important;
    margin-top: -25em !important;
    z-index: -1 !important;
    width: 6em !important;
  }

  
  .XStar-3 {
    position: absolute;
    left: -5em;
    margin-top: 6.7em;
    z-index: -1;
    width: 14em;
  }





}