.org-content {
    background: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4em 6em;
    flex-wrap: wrap;
    min-height: 100px;

    margin-top: 10em;
}

.org-content img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    cursor: pointer;
}

.img-doge{
    width:6em;
}


@media only screen and (min-device-width: 1280px) and (max-device-width: 1280px) and (min-device-height: 720px) and (max-device-height: 720px) {
    .org-content img {
        max-width: 100%;
        width: 11em;
        height: auto;
        object-fit: contain;
        cursor: pointer;
    }

   
    .img-ast, .img-doge{
        width: 4em !important;
    }
}


@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (min-device-height: 768px) and (max-device-height: 768px) {
    .org-content img {
        max-width: 100%;
        width: 11em;
        height: auto;
        object-fit: contain;
        cursor: pointer;
    }

  
    .img-ast, .img-doge{
        width: 4em !important;
    }
}


@media only screen and (min-device-width: 1440px) and (max-device-width: 1440px) and (min-device-height: 900px) and (max-device-height: 900px) {
    .org-content img {
        max-width: 100%;
        width: 11em;
        height: auto;
        object-fit: contain;
        cursor: pointer;
    }

    .img-ast, .img-doge{
        width: 4em !important;
    }
}





@media only screen and (min-device-width: 1600px) and (max-device-width: 1600px) and (min-device-height: 900px) and (max-device-height: 900px) {
    .org-content img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
        cursor: pointer;
    }

    .img-ast, .img-doge{
        width: 4em !important;
    }
}



@media (max-width: 768px) {
    .org-content {
        background: #fff;
        display: flex;
        /* Usando flex ao invés de grid */
        flex-direction: row;
        /* Assegura que os itens se alinham horizontalmente */
        justify-content: center;
        align-items: center;
        padding: 3em;
        gap: 1em;
        min-height: 100px;
        margin-top: 10em;
        overflow-x: auto;
        /* Permite rolagem horizontal se as imagens não couberem */
    }

    .org-content img {
        width: 100%;
        /* Torna todas as imagens com largura completa dentro do seu container */
        max-width: 120px;
        /* Limita a largura máxima de cada imagem */
        height: auto;
        /* Mantém a proporção das imagens */
    }

    .img-ast, .img-doge{
        width: 4em !important;
    }

}