@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;

  background: linear-gradient(to bottom, #7F046D, #E40476);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content-info-tam {
  width: 70%;
  margin: 0 auto;
}



.buy-button {
  background-color: #E40476;
  padding: 5px 20px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}

.buy-button:hover {
  background-color: #ff0084;
  transition: all 0.5s;

}

.buy-button-2 {
  background-color: #40CFC9;
  padding: 5px 20px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 180px;


}

.buy-button-2:hover {
  background-color: #25d6bf;
  transition: all 0.5s;

}

.buy-button button,
.buy-button-2 button {
  border: none;
  background: none;
  color: white;
  font-weight: bold;
  font-size: 15pt;
  cursor: pointer;
  font-family: 'Montserrat';
}


a {
  text-decoration: none;
  color: #fff;
}




/* Estilos para dispositivos móveis */
@media screen and (max-width: 767px) {
  
}




@media only screen and (min-device-width: 1280px) and (max-device-width: 1280px) and (min-device-height: 720px) and (max-device-height: 720px) {

  .content-info-tam {
    width: 90%;
    margin: 0 auto;
  }
  



}


@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (min-device-height: 768px) and (max-device-height: 768px) {
  .content-info-tam {
    width: 80%;
    margin: 0 auto;
  }

}


@media only screen and (min-device-width: 1440px) and (max-device-width: 1440px) and (min-device-height: 900px) and (max-device-height: 900px) {
  .content-info-tam {
    width: 75%;
    margin: 0 auto;
  }
}




@media only screen and (min-device-width: 1600px) and (max-device-width: 1600px) and (min-device-height: 900px) and (max-device-height: 900px) {}
